<!--
    Write a HTML code using AngularJS to generate the following output
	Undergraduate Courses (hint : use ng-repeat, ng-init directive)
        i. BBA(CA)
        ii. BCA(Science)
        iii. B.Sc.(Computer Science)
    Post Graduate Courses
        i. M.Sc.(Computer Science)
        ii. M.Sc.(CA)
        iii. MCA
-->

<!DOCTYPE html>
<html>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    
    <head>
        <title>Slip 2</title>
    </head>
    
    <body>
        <div ng-app="" ng-init="UG=['BBA(CA)', 'BCA(Science)', 'B.Sc(Computter Science)']; PG=['M.Sc.(Computer Science)', 'M.SC.(CA)', 'MCA']">
            
            <b><p><i>Undergraduate Courses: </i></p></b>
            <ol type="i">
                <li ng-repeat="x in UG">
                    {{x}}
                </li>
            </ol>
            
            <b><p><i>Postgraduate Courses: </i></p></b>
            <ol type="i">
                <li ng-repeat="x in PG">
                    {{x}}
                </li>
            </ol>
        </div>
    </body>
</html>